---
permalink: "{{ config.feed.path }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ config.title }}</title>
	{% set absoluteUrl %}{{ config.feed.path | url | absoluteUrl(config.base) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ config.base }}"/>
	<updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
	<id>{{ config.feed.id }}</id>
	<author>
		<name>{{ config.author.name }}</name>
		<email>{{ config.author.email }}</email>
	</author>
	{%- for post in collections.posts | reverse %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(config.base) }}{% endset %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<published>{{ post.date | rssDate }}</published>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>