---
layout: layout.ejs
tags: []
title: Vladimir Klepov as a Coder
summary: I write in-depth articles about web development — best known for my React series, but eager to explore other technologies.
---

<section>
  <div class="about">
    <span class="me-greet">Nice to meet you, my name is</span>
    <h1 class="me">Vladimir Klepov</h1>
    I&nbsp;am a&nbsp;front-end team&nbsp;lead, currently building a&nbsp;fintech startup. I&nbsp;write 
    in-depth articles about web development — best known for&nbsp;my&nbsp;<a href="/tags/react">React series,</a> but eager&nbsp;to 
    explore other technologies.
  </div>

  <a href="<%= config.bmc %>" class="link--bare bmc-card">
    <div>
      My&nbsp;goal is to&nbsp;become an independent content creator. But before I&nbsp;get there, 
      I&nbsp;need to make this blog self-sustaining —  gathering $130 in 2023 to&nbsp;pay for the 
      domain and hosting. Currently I'm at&nbsp;$5. 
      It&nbsp;would greatly help if you <span class="bmc">bought me a&nbsp;coffee!</span>
    </div>
  </a>
  
  <%- include('layout/_partial/social-links') %>
</section>

<section id="writing">
  <span class="h1">Writing</span>
  <%- include('layout/_partial/post-list', { posts: collections.posts.slice().reverse(), tags: true }) %>
</section>

<section id="projects">
  <span class="h1"><a href="<%- config.github %>">Projects</a></span>
  <ul class="project-list">
    <li class="project-item">
      <a target="_blank" rel="noopener" href="https://thoughtspile.github.io/grafar/#/">Grafar</a>: Reactive multidimensional math &amp; data visualization for the web.
    </li>
  </ul>
</section>
