<span class="share">
  <div>
    <a href="https://twitter.com/share?url=<%= page.permalink %>&text=<%= page.title %> by @thoughtspile">
      Tweet
    </a>
  </div>
  <div id="share-button">
    <a>Share</a>
  </div>
  <div>
    <a href="https://twitter.com/search?q=<%= page.permalink %>">Discuss on Twitter</a>
  </div>
</span>
