<!DOCTYPE html>
<html lang="<%=page.language || 'en'%>">
<%- include('_partial/head') %>
<body class="max-width mx-auto px3">
  <div class="content index">
    <%- content %>
  </div>
</body>
</html>
<%- include('_partial/scripts') %>