// Fonts
$font-family-body = sans-serif
$font-family-mono = Consolas,Menlo,Monaco,source-code-pro,"Courier New",monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 18px
$line-height = 1.7
$page-width = 44rem
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
// Colors
$colors = hexo-config("colorscheme") || "dark"
