:root {
  --primary: #383838;
  --bg: #fff;
  --secondary: #8c8c8c;
  --accent-primary: #fa0;
  --brand-bmc: #fd0;
  --text-bmc: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-primary: #fd0;
    --primary: #eaeaea;
    --bg: rgb(18,18,18);
  }
  img[src*="?invert"] {
    filter: invert(0.89) hue-rotate(180deg) contrast(1.1);
  }
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.px3 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.content .h1,
.content h1 {
  display: block;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: var(--accent-primary);
  letter-spacing: 0.01em;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.content .h2,
.content h2 {
  position: relative;
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--accent-primary);
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
}
.content h3 {
  color: var(--accent-primary);
  font-weight: 700;
  font-size: 1.2rem;
}
.content h4,
.content h5,
.content h6 {
  display: inline;
  border-bottom: 1px dashed var(--secondary);
  color: var(--secondary);
  text-decoration: none;
  font-weight: 400;
  font-size: 0.9rem;
}
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 0.9rem;
  margin-bottom: 0.5rem;
}
.content hr {
  border: 1px dashed var(--secondary);
}
.content strong {
  font-weight: 700;
}
.content cite,
.content em {
  font-style: italic;
}
.content sub,
.content sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}
.content sup {
  top: -0.5em;
}
.content sub {
  bottom: -0.2em;
}
.content small {
  font-size: 0.85em;
}
.content abbr,
.content acronym {
  border-bottom: 1px dotted;
}
.content dl,
.content ol,
.content ul {
  line-height: 1.7;
}
.content ol ol,
.content ol ul,
.content ul ol,
.content ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
.content ol {
  list-style: decimal;
}
.content dt {
  font-weight: 700;
}
.content table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 16px;
}
.content th {
  padding: 8px;
  color: var(--primary);
  font-weight: 700;
  font-size: 17px;
}
.content td {
  padding: 9px 8px 0;
  border-bottom: none;
}
svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}
.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
.fa-3x {
  font-size: 3em;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  color-scheme: light dark;
  color: var(--primary);
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 1.3125rem;
  font-family: sans-serif;
  line-height: 1.7;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.index {
  margin-top: 4rem;
  margin-bottom: 8rem;
}
@media (max-width: 768px) {
  body {
    font-size: 1.25rem;
  }
}
@media (max-width: 480px) {
  .index {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  body {
    font-size: 1.125rem;
  }
}
.content {
  flex: 1;
}
.content code {
  hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  -webkit-hyphens: manual;
}
.content a {
  text-decoration: none;
  color: var(--primary);
}
.content .link__text,
.content a:not(.link--bare) {
  background-image: linear-gradient(
    transparent,
    transparent 5px,
    var(--primary) 5px,
    var(--primary)
  );
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}
.content a:hover .link__text,
.content a:not(.link--bare):hover {
  background-image: linear-gradient(
    transparent,
    transparent 4px,
    var(--accent-primary) 4px,
    var(--accent-primary)
  );
}
.content a.icon {
  background: 0 0;
}
.content a.icon:hover {
  color: var(--accent-primary);
}
.content .h1 a,
.content h1 a,
.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
  background: 0 0;
  color: inherit;
  text-decoration: none;
}
.content .h1 a:hover,
.content h1 a:hover,
.content h2 a:hover,
.content h3 a:hover,
.content h4 a:hover,
.content h5 a:hover,
.content h6 a:hover {
  background-image: linear-gradient(
    transparent,
    transparent 6px,
    var(--accent-primary) 6px,
    var(--accent-primary)
  );
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}
.content h6 a {
  background: 0 0;
  color: inherit;
  text-decoration: none;
}
.content h6 a:hover {
  background-image: linear-gradient(
    transparent,
    transparent 6px,
    var(--accent-primary) 6px,
    var(--accent-primary)
  );
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}
@media (min-width: 540px) {
  .image-wrap {
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .image-wrap .image-block {
    flex: 1 0 35%;
    margin-right: 2rem;
  }
  .image-wrap p {
    flex: 1 0 65%;
  }
}
.max-width {
  max-width: 48rem;
}
@media (max-width: 480px) {
  .px3 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 480px) {
  p {
    text-align: left;
  }
}
#header {
  display: flex;
  margin-top: -3rem;
  padding: 3rem 0;
  width: 100%;
  background: 0 0;
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 2em;
}
#header.header--post {
  padding-bottom: 2rem;
}
#header .h1,
#header h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary);
  letter-spacing: 0.01em;
  font-weight: 700;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
#header.header--post {
  font-size: 1rem;
}
#header #logo {
  display: inline-block;
  margin-right: 12px;
  margin-left: -6px;
  width: 1.2em;
  height: 1.2em;
  bottom: -0.3em;
  position: relative;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  border: 1px solid var(--bg);
}
#header #logo:after,
#header #logo:before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
}
#header #logo:before {
  border: inherit;
  background: var(--accent-primary);
  border-color: var(--accent-primary);
  transform: rotate(60deg);
}
#header #logo:after {
  border: 1px solid var(--accent-primary);
  background: var(--bg);
  transform: rotate(30deg);
}
#header:hover #logo {
  filter: none;
  -webkit-filter: none;
}
@media screen and (max-width: 480px) {
  #header #nav ul a:hover {
    background: 0 0;
  }
  #header #nav ul li {
    display: none;
    border-right: 0;
  }
  #header #nav ul li.icon {
    position: absolute;
    top: 55px;
    right: 1rem;
    display: inline-block;
  }
  #header #nav ul.responsive li {
    display: block;
  }
  #header #nav li:not(:first-child) {
    padding-top: 1rem;
    padding-left: 70px;
    font-size: 1rem;
  }
}
.share {
  display: flex;
}
.share :not(:last-child):after {
  content: "•";
  margin: 0 0.5em;
}
.project-list {
  padding: 0;
  list-style: none;
}
.project-list .project-item {
  margin-bottom: 5px;
}
td.code,
td.gutter {
  padding: 0;
}
.code pre,
.gutter pre {
  margin: 0;
}
article header .posttitle {
  margin-top: 0;
  margin-bottom: 0.4rem;
  text-transform: none;
  font-size: 2rem;
  line-height: 1.4;
}
article header .meta {
  margin-top: 0;
  margin-bottom: 1rem;
}
article header .meta * {
  color: var(--secondary);
  font-size: 0.85rem;
}
article header .author {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 700;
}
article header .postdate {
  display: inline;
  margin-right: 1em;
}
article .content img,
article .content video {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
article .content .video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  height: 0;
}
article .content .video-container embed,
article .content .video-container iframe,
article .content .video-container object {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
}
article .content blockquote {
  margin: 1rem 10px;
  padding: 0.5em 10px;
  background: inherit;
  color: var(--accent-primary);
  quotes: "\201C""\201D""\2018""\2019";
  font-weight: 700;
}
article .content blockquote p {
  margin: 0;
}
article .content blockquote:before {
  margin-right: 0.25em;
  color: var(--accent-primary);
  content: "\201C";
  vertical-align: -0.4em;
  font-size: 2em;
  line-height: 0.1em;
}
article .content blockquote footer {
  margin: line-height 0;
  font-size: 11px;
}
article .content blockquote footer a {
  background-image: linear-gradient(
    transparent,
    transparent 5px,
    var(--secondary) 5px,
    var(--secondary)
  );
  color: var(--secondary);
}
article .content blockquote footer a:hover {
  background-image: linear-gradient(
    transparent,
    transparent 4px,
    var(--secondary) 4px,
    var(--secondary)
  );
  color: var(--secondary);
}
article .content blockquote footer cite:before {
  padding: 0 0.5em;
  content: "—";
}
article .content .pullquote {
  margin: 0;
  width: 45%;
  text-align: left;
}
article .content .pullquote.left {
  margin-right: 1em;
  margin-left: 0.5em;
}
article .content .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
article .content .caption {
  position: relative;
  display: block;
  margin-top: 0.5em;
  color: color-grey;
  text-align: center;
  font-size: 0.9em;
}
article .call-to-action {
  margin-top: 24px;
  margin-bottom: 24px;
}
article .call-to-action__item {
  display: flex;
  cursor: pointer;
  align-items: center;
  position: relative;
  padding: 8px 0 9px;
  width: 100%;
  background: 0 0;
  transition: all 0.1s ease;
  height: 40px;
}
article .call-to-action__item .svg-inline--fa {
  position: relative;
  height: 64px;
  color: var(--accent-primary);
  transition: all 0.1s ease;
}
article .call-to-action__item.left .svg-inline--fa {
  left: -10px;
}
article .call-to-action__item.right {
  justify-content: flex-end;
}
article .call-to-action__item.right .svg-inline--fa {
  right: -10px;
}
article .call-to-action__item:hover {
  background: var(--accent-primary);
  color: var(--bg);
}
article .call-to-action__item:hover .svg-inline--fa {
  color: var(--bg);
}
.posttitle {
  text-transform: none;
  font-size: 1.5em;
  line-height: 1.25;
}
.post__date {
  color: var(--secondary);
}
.post-related {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}
.post-related .tag-link-link {
  margin-right: 0.5em;
}
.post-related .tag-link-link:first-child {
  margin-left: 0.5em;
}
@media (min-width: 480px) {
  .article-tag {
    display: inline;
  }
}
.post-actions,
.post-siblings {
  margin-top: 2em;
}
.post-sibling {
  padding: 0.5rem 0;
}
.post-siblings__direction {
  color: var(--secondary);
}
.post-list {
  padding: 0;
}
.post-list .post-item,
.post-list .post-year {
  list-style-type: none;
}
.post-list .post-year {
  margin-left: 120px;
}
.post-list .post-item-link {
  width: 100%;
  padding: 0.5rem 0;
  margin: 0;
  background: 0 0;
  display: block;
}
.post-list .post-item-link:active,
.post-list .post-item-link:hover {
  background: 0 0;
  color: var(--accent-primary);
}
.post-list .post-item-link:active .meta,
.post-list .post-item-link:hover .meta {
  color: var(--primary);
}
.post-list .post-item-link--more {
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto;
  min-width: 0;
  display: inline-block;
  color: var(--bg);
  background-color: var(--accent-primary);
  float: right;
}
.post-list .post-item-link .meta {
  flex-shrink: 0;
  display: block;
  width: 120px;
  color: var(--secondary);
  font-size: 16px;
}
@media (min-width: 480px) {
  .post-list .post-item-link:not(.post-item-link--more) {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0.5rem 0;
  }
  .post-list .post-item-link:not(.post-item-link--more)-title {
    display: block;
  }
  .post-list .post-item-link:not(.post-item-link--more) .meta {
    text-align: left;
  }
}

code,code[class*=language-],pre[class*=language-]{color:#657b83;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{background:#073642}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{background:#073642}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto;border-radius:.3em}:not(pre)>code[class*=language-],pre[class*=language-]{background-color:#fdf6e3}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#93a1a1}.token.punctuation{color:#586e75}.token.namespace{opacity:.7}.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag{color:#268bd2}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string,.token.url{color:#2aa198}.token.entity{color:#657b83;background:#eee8d5}.token.atrule,.token.attr-value,.token.keyword{color:#859900}.token.class-name,.token.function{color:#b58900}.token.important,.token.regex,.token.variable{color:#cb4b16}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}
code {background-color: #fdf6e3;}
@media (prefers-color-scheme: dark) {
  code,code[class*=language-],pre[class*=language-]{color:#ccc;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}.token.punctuation{color:#ccc}.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}.token.function-name{color:#6196cc}.token.boolean,.token.function,.token.number{color:#f08d49}.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}.token.entity,.token.operator,.token.url{color:#67cdcc}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted{color:green}
  code {background-color: #2d2d2d;}
}


pre {
  overflow-x: auto;
  margin: 1rem -1rem;
  padding: 0.5rem 1rem;
  font-family: Consolas, Menlo, Monaco, source-code-pro, "Courier New",
    monospace;
  line-height: 22px;
  font-size: 16px;
}
@media (min-width: 479px) {
  pre {
    border-radius: 4px;
  }
}
pre code {
  display: block;
  padding: 0;
}
code {
  padding: 0.2em 0.5em;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  font-family: Consolas, Menlo, Monaco, source-code-pro, "Courier New", monospace;
}

.bmc-card {
  border: 1px solid var(--brand-bmc);
  padding: 1rem 2rem 1.5rem;
  margin: 0 -2rem;
  transition: transform ease 300ms;
  display: flex;
  align-items: flex-end;
}
.bmc-card:hover {
  transform: scale(1.05);
}
.bmc-image {
  margin-top: -30px;
  width: 120px;
  margin-left: 1.5rem;
  flex-shrink: 0;
}
.bmc {
  display: inline-block;
  background: var(--brand-bmc);
  color: var(--text-bmc) !important;
  padding: 0 0.5em;
}
@media (max-width: 680px) {
  .bmc-card {
    flex-direction: column;
    align-items: center;
  }

  .bmc-image {
    margin: 1rem 0 0 0;
  }
}
@media (max-width: 480px) {
  .bmc-card {
    border-left: none;
    border-right: none;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .bmc-card:hover {
    transform: none;
  }
}

.social-links {
  margin: 1rem 0;
  width: 100%;
  display: flex;
}
.social-links a {
  flex-grow: 1;
  height: 6rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
}
.social-links a:hover {
  color: var(--accent-primary);
  transform: scale(1.2);
}

.about {
  margin: 8rem 0 4rem;
}
.about .me-greet {
  color: var(--secondary);
}
.about .me {
  font-size: 5rem;
  line-height: 1;
  padding: 0;
  letter-spacing: 0.01em;
  margin: 0.5rem 0 2rem -0.7rem;
}
@media (max-width: 480px) {
  .about {
    margin-top: 3rem;
  }
  .about .me {
    margin-left: 0;
  }
}