<a href="<%= config.bmc %>" class="link--bare bmc-card">
  <div>
    <b>Hello, friend!</b> My name is Vladimir, and I love writing about web development.
    If you got down here, you probably enjoyed this article. My goal is to become an independent 
    content creator, and you'll help me get there by <span class="bmc">buying me a coffee!</span>
  </div>
  <img src="/images/bmc.png" data-no-preview class="bmc-image" />
</a>
