<head>
    <!-- so meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="yandex-verification" content="635edef3908320be" />
    <meta name="google-site-verification" content="1-m0w7Up8df1sn0230jxfTKKZ4jLeln_Em1tcyfU0qw" />
    <!-- title -->
    <title><%= title %></title>
    <!-- styles -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="canonical" href="<%= config.base %><%= page.url %>" />
    <link rel="alternate" href="/atom.xml" title="Vladimir Klepov as a Coder" type="application/atom+xml" />
</head>
